@font-face {
    font-family: "AmnestyTradeGothic-BdCn20";

    src: url("/fonts/AmnestyTradeGothic-BdCn20.woff") format("woff"),
    url("/fonts/AmnestyTradeGothic-BdCn20.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    }

    body {
        color: black;
        font-family: 'Gothic A1', sans-serif;
        text-align: justify;
        font-size: 18px!important;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    /* Contenedores y retícula */
    .container {
        max-width: 600px;
    }
    
    /* Sistema de fuentes y tamaños */
    h1 {
        font-size: 32px;
        color: white;
        text-transform: uppercase;
        line-height: 2.7rem;
    }

    h1 span { 
        background-color: black;
        padding: 8px;
        text-align: center;
        -webkit-box-shadow: 0.71429rem 0 0 #000, -0.71429rem 0 0 #000;
        box-shadow: 0.71429rem 0 0 #000, -0.71429rem 0 0 #000;
    }

    h1.titulo-accion {
        font-size: 26px;
        font-weight: 600;
        line-height: 31px;
    }

    .font-18 {
        font-size: 18px;
    }

    .font-20 {
        font-size: 20px;
    }

    .font-bold {
        font-weight: 600;
    }

    .amnesty-font {
        font-family: 'AmnestyTradeGothic-BdCn20';
    }

    /* Espacio negativo */
    .n-- {
        position: relative;
        top: -60px; 
        margin-bottom: -60px;
    }

    .n--- {
        position: relative;
        top: -90px;
        bottom: -90px;
    }

    /* Imágenes general */
    img {
        object-fit: cover;
    }

    img.cabecera { 
        height: 300px;
        width: -webkit-fill-available;
    }

    #bloque-1 img.cabecera {
        height: 300px;
        width: -webkit-fill-available;
    }

    /* Sistema de color general */
    .bg-amarillo {
    background-color: #ffff00;
    }

    .txt-amarillo {
        color: #ffff00;
    }

    .bg-black {
        background-color: #000000;
    }

    .txt-black {
        color: #000000;
    }

    .bg-dark {
        background-color: #252525!important;
    }

    .bg-gris {
        background-color: #8B8B8B;
    }

    .bg-gris-50 {
        background-color: #F6F6F6;
    }

    .bg-naranja {
        background-color: #EF8200 !important;
    }

    /* General*/
     .card-img-overlay {
        background-color: #25252573;
    }

    .resumen {
        padding-left: 40px;
        padding-right: 194px;
        padding-top: 39px;
        padding-bottom: 40px;
    }

    .vela {
        background-image: url("./img/Vela-blanca.png");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .txt-accion {
        padding-left: 25px;
        padding-right: 35px;
    }

    /* Bloques plantilla tres */
    #bloque-3 .col {
        padding-left: 70px;
        padding-right: 185px;
    }

    #pleca-sec-3 img.cabecera {
        height: 250px;
        width: -webkit-fill-available;
    }

    /* Bloques plantilla cuatro */
    #bloque-3 img {
        height: 200px;
        width: -webkit-fill-available;
    }

    #pleca-sec-3 img.cabecera {
        height: 250px;
        width: -webkit-fill-available;
    }

    #cierre img {
        height: 270px;
        width: -webkit-fill-available;
    }

    /* Hover */
    a:hover {
        opacity: 1;
        color: inherit;
    }

    /*Botón llamado a la acción*/
    .btn {
    border-radius: .7rem;
    }

    .btn:hover {
        opacity: 1;
        background-color: #FFB600 !important;
        border: solid 1px transparent;
    }

    /* Moviles y media */
    @media (max-width: 575.98px) { 
        
        /* Generales */
        h1 {
            font-size: 28px;
        }

        .logo {
            height: 60px;
        }

        .nav-link {
            padding: .5rem;
        }

        /* Plantilla tres */
        #bloque-3 .col {
            padding-left: 30px;
            padding-right: 70px;
        }

        #pleca-sec-3 img.cabecera {
            height: 170px;
            width: -webkit-fill-available;
        }

         /* Plantilla cuatro */
         #pleca-sec-3 img.cabecera {
            height: 170px;
            width: -webkit-fill-available;
        }
        
        /* Plantilla tres y cuatro */
        .resumen {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 39px;
            padding-bottom: 40px;
        }

        #bloque-1 img.cabecera, #bloque-2 img.cabecera {
            height: 180px;
        }

        h1.titulo-accion {
            font-size: 16px;
            line-height: 20px;
        }

        h2.fecha-accion {
            font-size: 16px;
        }

        p {
            font-size: 14px;
        }

        .txt-accion {
            padding-left: 15px;
            padding-right: 15px;
        } 

        .vela {
            background-size: 85%;
        }
    }